<html>
<head><title>OpenSymphony WebWork2 Validation Example</title></head>
<body>
#if( $actionErrors.size() > 0 )
<p>
<font color="red">
<b>ERRORS:</b><br>
<ul>
#foreach( $error in $actionErrors )
<li>$error</li>
#end
</ul>
</font>
</p>
#end
<p>
<form name="myForm" action="${validationAction}" method="POST">
<input type="hidden" name="validationAction" value="${validationAction}"/>
Action Properties:
<br>
<table>
#tag( TextField "label='Name'" "name='name'" "value=name" )
</table>
Bean Properties:
#if( $stack.findValue("fieldErrors") )
    #set( $beanErrors = $stack.findValue("fieldErrors.get('bean')") )
    #if( $beanErrors.size() > 0 )
    <br>
    <font color="red">
    <b>Bean Errors:</b><br>
    <ul>
    #foreach( $beanError in $beanErrors )
    <li>$beanError</li>
    #end
    </ul>
    </font>
    #end
#end
<table>
#tag( TextField "label='Bean.Text'" "name='bean.text'" "value=bean.text" )<br>
#tag( TextField "label='Bean.Date'" "name='bean.date'" "value=bean.date" )<br>
#tag( TextField "label='Bean.Number'" "name='bean.number'" "value=bean.number" )<br>
#tag( TextField "label='Bean.Number2'" "name='bean.number2'" "value=bean.number2" )<br>
</table>
<input type="submit" value="Test Validation"/>
</form>
</body>