<html><head><title>Resources and Resource Collections</title></head>
<body><h1>Resources and Resource Collections</h1>
<p>This package implements ideas, which have been shamelessly
  copied from Ants resource collection framework. Basically,
  a resource is an abstraction of file-like entities: An actual
  file, an URL, a zip entry, and so on. On the other hand,
  a resource collections is a collection of resources.</p>
<p>Resource collections can be copied, moved, archived, unarchived,
  and so on.</p>
</body></html>
