#bean("com.opensymphony.webwork.util.Timer" $timer)

<HTML>
<BODY>
<H1>This year</H1>

#bean("com.opensymphony.webwork.util.DateFormatter" $monthformat)
#set ($monthformat.parseFormat = "M")
#set ($monthformat.format = "MMMMMMM")

#bean ("com.opensymphony.webwork.util.DateFormatter" $format)
#set ($format.parseFormat = "d")
#set ($format.format = "EEEE")

#bean ("com.opensymphony.webwork.util.Counter" $monthcounter)
$monthcounter.setFirst($webwork.toLong(1))
$monthcounter.setLast($webwork.toLong(12))

#foreach ($monthnr in [0..11])
    #bodytag( Action "name='monthlist'" "id=month" )
        #param( "name=month" "value=$monthnr" )
    #end
    #set ($month = $stack.findValue('#attr.month'))

<TABLE BORDER=1 CELLSPACING=0 CELLPADDING=2>
<TR>
<TH>&nbsp;</TH>
<TH COLSPAN=7>
$monthformat.setDate($webwork.toString($monthcounter.next))
$monthformat.formattedDate
</TH>
</TR>

<TR>
<TH>Week</TH>

#bean ("com.opensymphony.webwork.util.Counter" $day)
$day.setFirst($month.firstDay)
$day.setInterval($webwork.toLong("86400000"))

$format.setTime($day.next)
<TH>$format.formattedDate</TH>

$format.setTime($day.next)
<TH>$format.formattedDate</TH>

$format.setTime($day.next)
<TH>$format.formattedDate</TH>

$format.setTime($day.next)
<TH>$format.formattedDate</TH>

$format.setTime($day.next)
<TH>$format.formattedDate</TH>

$format.setTime($day.next)
<TH>$format.formattedDate</TH>

$format.setTime($day.next)
<TH>$format.formattedDate</TH>
</TR>

#bean ("com.opensymphony.webwork.util.Counter" $week)
$week.setFirst($webwork.toLong(1))
$week.setCurrent($webwork.toLong($month.firstWeek))
$week.setLast($webwork.toLong(52))
$week.setWrap(true)

#foreach ($weeklist in $month.weeks)
<TR>
<TH>$week.next</TH>

#foreach ($weekday in $weeklist)

<TD #if ($monthnr == $month.thisMonth && $webwork.toInt($weekday) == $month.today) BGCOLOR=#EEAAAA #end>
#if ($webwork.toInt($weekday) > 0)
$weekday
#end
&nbsp;
</TD>
#end
</TR>


#end
</TABLE>
<HR SIZE=1>

#end

Time:${timer.time}ms

</BODY>
</HTML>

