<table border="0" align="center">

#tag( Label "label='label test'" "name='label name'" "value=scalar" )
#tag( TextField "label='textfield test'" "name='textfieldName'" "value=scalar" "size=50" )
#tag( TextField "label='required textfield test'" "name='textfieldName'" "value=scalar" "size=50" "required=true")
#tag( File "label='file test'" "name='uploadedFile'" "value=" "size=30" )
#tag( Password "label='password test'" "name='passwordField'" "value=scalar" "size=50" )
#tag( Checkbox "label='checkbox test'" "name='checkboxField'" )
#tag( CheckboxList "label='checkboxlist test'" "name='RadioField'" "value=list[1].key" "list=list" "listKey=key" "listValue=value" )
#tag( Component "label='component test'" "name='componentField'" "template='empty.vm'" )
#tag( Radio "label='radio test'" "name='RadioField'" "value=list[1].key" "list=list" "listKey=key" "listValue=value" )
#tag( Select "label='multiple select test'" "name='select1'" "value=multiValues" "list=multiList" "multiple=true" "size=5" )
#tag( Select "label='select test'" "name='select2'" "value=list[1].key" "list=list" "listKey=key" "listValue=value" "size='5'" )
#tag( Select "label='pulldown test'" "name='select3'" "value=list[1].value" "list=list" "listKey=key" "listValue=value" )
#tag( Textarea "label='textarea test'" "name='textareaField'" "value=scalar" "rows='10'" "cols='30'" )
#tag( Hidden "name='hiddenField'" "value=scalar" )
#tag( Submit "value='submit this thang!'" "align='right'" )
#*
*#

</table>

