<html><head><title>File Mappers</title></head>
<body><h1>File Mappers</h1>
<p>File mappers can be used, for example, when files are being copied, moved, archived, or unarchived.
  The purpose of a file mapper is to select the target files name and destination.</p>
<p>Examples:</p>
<ul>
  <li>The <a href="IdentityMapper.html">IdentityMapper</a> is a trivial file mapper,
    which leaves all file names are unchanged. This is mainly useful as a default
    file mapper.</li>
  <li>The <a href="FileExtensionMapper.html">FileNameExtensionMapper</a> changes the
    file names extension. This can be used, for example, when you run the
    <a href="http://xml.apache.org/fop">FOP</a> transformer to produce PDF.
    Of course, you would want the created files to have the extension <code>.pdf</code>,
    rather than <code>.xml</code>.</li>
</ul>
</body></html>
