<application xmlns="marmalade:cling-app">
    
    <applicationDescription>Test Application</applicationDescription>
    
    <main>
        <class>org.codehaus.plexus.cling.TestMain</class>
        <method>execute</method>
    </main>
    
    <environment>
        test=value
        test2=value2
    </environment>
    
    <legalUsage>
        
        <optionSet>
            <option>
                <shortName>i</shortName>
                <longName>input</longName>
                <required/>
                <optionDescription>Input mode flag</optionDescription>
            </option>
            <option>
                <shortName>f</shortName>
                <longName>file</longName>
                <type>File</type>
                <required/>
                <optionDescription>File option</optionDescription>
            </option>
            <option>
                <shortName>b</shortName>
                <longName>bool</longName>
                <optionDescription>Boolean flag</optionDescription>
            </option>
        </optionSet>
        
        <optionSet>
            <option>
                <shortName>o</shortName>
                <longName>output</longName>
                <required/>
                <optionDescription>Output mode flag</optionDescription>
            </option>
            <option>
                <shortName>f</shortName>
                <longName>file</longName>
                <type>String</type>
                <optionDescription>File path option</optionDescription>
            </option>
        </optionSet>
        
    </legalUsage>
    
    <classpath>
        <local>conf/</local>
        <dependency>
            <groupId>junit</groupId>
            <artifactId>junit</artifactId>
            <version>3.8.1</version>
        </dependency>
    </classpath>
    
</application>
