body {
 background: #ffffff;
 color: #000;
 }

.app h3, .app h4, .app th, .tabs td, .tabs th, .functnbar {
 background-image: url(../images/nw_min.gif);
 }
#navcolumn div div, body.docs #toc li li  {
 background-image: ;
 }


.app h3 {
 color: #fff;
 background-color: #797f68;
 border-bottom: 1px solid #363c35;
}

.app h4 {
 color: #fff;
 background-color: #9b9f8a;
 border-bottom: 1px solid grey;
 }

.a th { 
 background: #ddd;
 color: #000;
 }

.b th { 
}

.a td { 
 background: #ddd;
 color: #000;
 }

.b td { 
 background: #efefef;
 color: #000;
 }

.app th {
 background-color: #bbb;
 color: #363c35;
 }

div#banner {
 border: 1px solid black;
 }

#banner, #banner td { 
 background-color: #797f68;
 color: #fff;
 }

#leftcol {
 background: #eee;
 color: #000;
 border-right: 1px solid #aaa;
 border-bottom: 1px solid #aaa;
 border-top: 1px solid #fff;
}

#navcolumn {
 background: #eee;
 color: #000;
 border-right: none;
 border-bottom: none;
 border-top: none;
 }

#breadcrumbs {
 background-color: #ddd;
 color: #000;
 border-top: 1px solid #fff;
 border-bottom: 1px solid #aaa;
 }

#source {
 background-color: #fff;
 color: #000;
 border-right: 1px solid #888; 
 border-left: 1px solid #888; 
 border-top: 1px solid #888; 
 border-bottom: 1px solid #888; 
 margin-right: 7px;
 margin-left: 7px;
 margin-top: 1em;
 }

#source pre {
 margin-right: 7px;
 margin-left: 7px;
 }

#navcolumn a:link, #breadcrumbs a:visited, #navcolumn a:visited {
 color: #363c35;
 text-decoration: none;
 }

a:link, .app a:visited, .tasknav a:visited {
 color: #363c35;
 text-decoration: underline;
 }

a:active, a:hover, #leftcol a:active, #leftcol a:hover {
 color: #000 !important;
 text-decoration: underline;
 }

a:link.selfref, a:visited.selfref {
 color: #000 !important;
 text-decoration: underline;
 }

h3, h4 {
 margin-top: 1em;
 margin-bottom: 0;
 }
