<?xml version="1.0"?>
<component-set>
    #foreach ( $implementation in $model.implementations )
        <component>
            <role>$implementation.role</role>
            <implementation>$implementation.name</implementation>
            #if ( $implementation.roleHint )
                <role-hint>$implementation.roleHint</role-hint>
            #end
            #if ($implementation.hasRequirements())
                <requirements>
                    #foreach ( $requirement in $implementation.requirements )
                        <requirement>
                            <role>$requirement.role</role>
                            #if ( $requirement.roleHint )
                                <role-hint>$requirement.role</role-hint>
                            #end
                         </requirement>
                    #end
              </requirements>
            #end
        </component>
    #end
</component-set>




