#macro (renderConfiguration $configurationTag  )
    <table>
       #renderConfigurationTag( $configurationTag 0 )
    </table>

#end
#macro (renderConfigurationTag $configurationTag $level )

    <tr>
        #set ( $ident = $level *  20 )
        <td><li style="margin-left: ${ident}px;list-style-type: none;">&lt;$configurationTag.name&gt;</li></td>
        <td>$!configurationTag.description</td>
    </tr>
      #if ( !$configurationTag.leaf )
         #set ( $lvl = $level + 1 )
         #foreach ($child in $configurationTag.children )
            #renderConfigurationTag( $child $lvl )
         #end
     <tr>
        #set ( $ident = $level * 20 )
        <td><li style="margin-left: ${ident}px;list-style-type: none;">&lt;/$configurationTag.name&gt;</li></td>
        <td/>
     </tr>
     #end
#end
<?xml version="1.0"?>

<document>
    <properties>
        <title>Components</title>
        <author email="michal@codehaus.org">Michal Maczka</author>
    </properties>

    <body>
    #if ( $model.hasSpecifications() )
        <section name="Specifications">
            #foreach ( $specification in $model.specifications )
                <subsection name="$specification.name">
                   <p>
                    $specification.description
                   </p>
                </subsection>
            #end
        </section>
    #end

    #if ( $model.hasImplementations() )
        <section name="Implementations">
            #foreach ( $implementation in $model.implementations )
                <subsection name="$implementation.name">
                    <p>
                        <table summary="Details">
                            <tr>
                                <th>Role:</th>
                                <td>$!implementation.role</td>
                            </tr>
                            #if ( $implementation.roleHint )
                                <tr>
                                    <th>Role Hint:</th>
                                    <td>$implementation.roleHint</td>
                                </tr>
                            #end
                        </table>
                    </p>
                    <p>
                        $implementation.description
                    </p>
                    #if ($implementation.hasRequirements())
                    <p>
                        Requirements:
                            <table summary="Requirements">
                                <tr>
                                    <th>Role</th>
                                    <th>Role Hint</th>
                                    <th>Property</th>
                                    <th>Version</th>
                                    <th>Cardinality</th>
                                </tr>
                                #foreach ( $requirement in $implementation.requirements )
                                    <tr>
                                        <td>$!requirement.role</td>
                                        <td>$!requirement.roleHint</td>
                                        <td>$!requirement.property</td>
                                        <td>$!requirement.version</td>
                                        <td>$!requirement.cardinality</td>
                                    </tr>
                                 #end
                            </table>
                       </p>
                    #end
                    #if ($implementation.hasConfigurationTags())
                    <p>
                        Configuration settings:
                        <div>
                            #foreach ( $configurationTag in $implementation.configurationTags )
                                #renderConfiguration( $configurationTag  )
                            #end                           
                        </div>
                    </p>
                     #end
                </subsection>
            #end
        </section>
    #end
</body>
</document>




