<html><head><title>File Selectors</title></head>
<body><h1>File Selectors</h1>
<p>File selectors can be used to select or deselect a subset of files.
  For example, the plexus archivers or unarchivers use file selectors
  for selecting a subset of files in a directory.</p>
<p>Examples:</p>
<ul>
  <li>The <a href="AllFilesSelector.html">AllFilesSelector</a> is a default
    file selector, which simply selects all files.</li>
  <li>The <a href="IncludeExcludeFileSelector.html">IncludeExcludeFileSelector</a>
    selects or deselects files based on include/exclude patterns.</li>
</ul>
</body></html>
