#tag( Action "name='i18n.ComputePrice'" "id=pricer")
#bodytag( Push "value=#pricer")
#set($pricer = $stack.peek())
<select name="album">
#foreach($cd in $cDList)
	#set($price = $pricer.computePrice($cd.price))
	<option value="$cd.album">$cd.album, $cd.artist, $cd.country, $stack.findValue("getText('price', {$price})")</option>
#end
</select>
#end
