<div id="navcolum">
 <div id="projecttools" class="toolgroup">
  <div class="label">Continuum</div>
  <div class="body">
    <div><a href="$link.addQueryData( "action", "showProjects" ).setPage('projectOverview.vm')">Show Projects</a></div>
  </div>
 </div>

 <div id="projecttools" class="toolgroup">
  <div class="label">Add Project</div>
  <div class="body">
    <div><a href="$link.setPage('addProjectPomUrl.form')">M2 Pom Url</a></div>
    <div><a href="$link.setPage('addShellProjectPomUrl.form')">M1 Pom Url</a></div>
  </div>
 </div>
</div>
