#set( $jira = $xmlrpc.connect("${username}:${password}","${jiraServerUrl}/rpc/xmlrpc") )
#set( $project = $jira.getProject($projectKey) )
#set( $version = $jira.getVersion( $project, $projectVersion) )
#set( $url = "${jiraServerUrl}/secure/IssueNavigator.jspa?view=rss&&pid=${project.id}&fixfor=${version.id}&tempMax=500&reset=true&decorator=none" )
#set( $issues = $rss.fetch($url).issues )
<?xml version="1.0"?>
<document>
  <properties>
    <author>John Tolentino</author>
    <title>My Custom Resolved Issues Report</title>
  </properties>
  <body>
    <section name="Issues Resolved for $project.name [$projectVersion]">
#foreach( $issue in $issues.sort("id").sort("priority") )
      <ul>
        <li>[$issue.key] <![CDATA[$issue.summary]]></li>
      </ul>
#end
      <div class="section">
        <h3>Release-related Items</h3>
        <table>
          <tr>
            <th>ITEM</th>
            <th>DESCRIPTION</th>
          </tr>
          <tr>
            <td>Last Release</td>
#if ( ${previousReleaseVersion} == "" )
            <td>No previous releases</td>
#else
            <td>Version ${previousReleaseVersion} released on ${lastReleaseDate}</td>
#end
          </tr>
      </div>
    </section>
  </body>
</document>