<html>
<head>
   <title>
      $action.getText('main.title')
   </title>
</head>

<body bgcolor="$action.getText('main.bgcolor')">
#tag( Action "name='i18n.CDList'" "id=cdlist")

   <font face="Arial,Times New Roman,Times" size="+3">
      $action.getText('main.title')
   </font>
   <br>
   <em>
   $action.getText('main.subhead')
   </em>
   <hr>
   <p>

  <center>
   <form name=shoppingForm action="i18n.Add.action" method=POST>
	
   $action.getText('cd.label'):#bodytag( Push "value=#cdlist" )#parse("/i18n/velocity/cdlist.vm")#end

   $action.getText('main.qtyLabel'): <input type="textfield" name="quantity" value="1" size="3"/>
   <input type=submit name=Submit value="$action.getText('main.addLabel')">
   </form>
   </center>
   <p>
   #parse('/i18n/velocity/cart.vm')
</body>

</html>

