    <div class="section">
      <h3>Artifact Info</h3>
      <table>
        <tr>
          <th>ITEM</th>
          <th>DESCRIPTION</th>
        </tr>
        <tr>
          <td><b>GroupId</b></td>
          <td>${artifactGroupId}</td>
        </tr>
        <tr>
          <td><b>ArtifactId</b></td>
          <td>${artifactId}</td>
        </tr>
        <tr>
          <td><b>Version</b></td>
          <td>${artifactVersion}</td>
        </tr>
        <tr>
          <td><b>Download URL</b></td>
          <td><a href="$artifactDownloadUrl">
            $artifactDownloadUrl</a></td>
        </tr>
        <tr>
          <td><b>SCM</b></td>
          <td><a href="${scmUrl}">SVN</a><p>To checkout use the following
            command: <pre>   svn co -r 107 http://svn.codehaus.org/swizzle/trunk/swizzle-jirareport</pre></p></td>
        </tr>
        <tr>
          <td><b>Last Release Date</b></td>
          <td>1815/12/10 13:14:15 CEST</td>
        </tr>
        <tr>
          <td><b>Staging Site</b></td>
          <td><a href="${stagingSite}">${stagingSite}</a></td>
        </tr>
        <tr>
          <td><b>Maven Docck Test Results</b></td>
          <td><img src="images/icon_success_sml.gif" /> <a href="docck-results.html">Successful</a></td>
        </tr>
        <tr>
          <td><b>License Header Results</b></td>
          <td><img src="images/icon_error_sml.gif" /> Failed!
            <pre><![CDATA[
              [INFO] The License Header Verifier Results Will be placed here
              [INFO] ----------------------------------------------------------------------------
              [INFO] Failure Details....
              [INFO] Error 1
              [INFO] Error 2
              [INFO] Error 3
              [INFO] Error 4
              [INFO] ------------------------------------------------------------------------
            ]]></pre>
          </td>
        </tr>
        <tr>
          <td><b>List of Release Deliverables</b></td>
          <td><a href="deliverables.html">deliverables.html</a></td>
        </tr>
      </table>
    </div>