    <div class="section">
      <h3>Artifact Info</h3>
      <table>
        <tr>
          <th>ITEM</th>
          <th>DESCRIPTION</th>
        </tr>
        <tr>
          <td><b>GroupId</b></td>
          <td>${artifactGroupId}</td>
        </tr>
        <tr>
          <td><b>ArtifactId</b></td>
          <td>${artifactId}</td>
        </tr>
        <tr>
          <td><b>Version</b></td>
          <td>${artifactVersion}</td>
        </tr>
        <tr>
          <td><b>Download URL</b></td>
          <td><a href="$artifactDownloadUrl">
            $artifactDownloadUrl</a></td>
        </tr>
        <tr>
          <td><b>SCM</b></td>
          <td><a href="${scmUrl}">${scmType}</a><p>To checkout use the following
            command: <pre>   ${scmCheckoutCommand}</pre></p></td>
        </tr>
        <tr>
          <td><b>Staging Site</b></td>
          <td><a href="${stagingSite}">${stagingSite}</a></td>
        </tr>
        <tr>
          <td><b>Maven Docck Test Results</b></td>
#if ( $docckPassed )
          <td><img src="images/icon_success_sml.gif" /> <a href="${docckResultDetails}">Successful</a></td>
#else
          <td><img src="images/icon_error_sml.gif" /> Failed!
${docckResultContents}
            ]]></pre>
          </td>
#end
        </tr>
        <tr>
          <td><b>License Header Results</b></td>
#if ( $licenseCheckPassed )
          <td><img src="images/icon_success_sml.gif" /> <a href="${licenseCheckResultDetails}">Successful</a></td>
#else
          <td><img src="images/icon_error_sml.gif" /> Failed!
            <pre><![CDATA[
${licenseCheckResultContents}
            ]]></pre>
          </td>
#end
        </tr>
        <tr>
          <td><b>List of Release Deliverables</b></td>
          <td><a href="deliverables.html">deliverables.html</a></td>
        </tr>
      </table>
    </div>